﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Toto.Default" %>
<asp:content id="Content1" contentplaceholderid="HeadContent" runat="server">
</asp:content>
<asp:content id="Content2" contentplaceholderid="MainContent" runat="server">
  
   <div class="container" ng-controller="myCtrl" ng-app="myApp">
    
      <input type="image" src="Images/restart.PNG" width="70" height="45"/>

        <table >
          
            <tr>
                <td class="table-hover">

                    <img ng-click="myFunc('1', 'true')" ng-src="{{player == '0' && 'Images/tictac.PNG' ||player == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input" ng-model="id1" />
                    

                </td>
                <td>
                    <img ng-click="myFunc('2', 'true')" ng-src="{{player1 == '0' && 'Images/tictac.PNG' ||player1 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input" ng-model="id2" />
                </td>
                <td>
                    <img ng-click="myFunc('3')" ng-src="{{player2 == '0' && 'Images/tictac.PNG' ||player2 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input" ng-model="id3" />
                </td>
            </tr>
            <tr>
                <td>
                    <img ng-click="myFunc('4')" ng-src="{{player3 == '0' && 'Images/tictac.PNG' ||player3 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input"  ng-model="id4"/>
                </td>
                <td>
                    <img ng-click="myFunc('5')" ng-src="{{player4 == '0' && 'Images/tictac.PNG' ||player4 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input" ng-model="id5"/>
                </td>
                <td>
                    <img ng-click="myFunc('6')" ng-src="{{player5 == '0' && 'Images/tictac.PNG' ||player5 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input"  ng-model="id6"/>
                </td>
            </tr>
            <tr>
                <td>
                    <img ng-click="myFunc('7')" ng-src="{{player6 == '0' && 'Images/tictac.PNG' ||player6 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input"  ng-model="id7"/>
                </td>
                <td>
                    <img ng-click="myFunc('8')" ng-src="{{player7 == '0' && 'Images/tictac.PNG' ||player7 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input"  ng-model="id8"/>
                </td>
                <td>
                    <img ng-click="myFunc('9')" ng-src="{{player8 == '0' && 'Images/tictac.PNG' ||player8 == '1' && 'Images/tictoe.PNG' || 'Images/gorditomanejador.PNG'}}" alt="Alt text" class="input"  ng-model="id9"/>
                </td>
            </tr>
        
        </table>
       <p>{{texto}}</p>

       
    </div>
 
</asp:content>
